---
import CardCoffes from "./CardCoffes.astro"

const coffes = await fetch("https://raw.githubusercontent.com/devchallenges-io/web-project-ideas/main/front-end-projects/data/simple-coffee-listing-data.json").then(res => res.json())
interface responseData{
    name:      string
    image:     string
    price:     string
    rating:    number | null | string
    votes:     number
    popular:   boolean
    available: boolean
}
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        coffes.map((coffe: responseData)=>(
            <CardCoffes
                name={coffe.name}
                image={coffe.image}
                price={coffe.price}
                rating={coffe.rating}
                votes={coffe.votes}
                popular={coffe.popular}
                available={coffe.available}
            />
        ))
    }

</div>